@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

.mainArea{
    min-width:100%;
    min-height: 100%;
}
.nav-link{
    font-family:'Encode Sans SC', sans-serif;
    margin: 0 2%;
    font-weight: 900;
}
.data{
    font-family: 'Uchen', serif;
    line-height:42px;
}
.mainHeading{
    font-weight: normal;
    font-family: 'Uchen', serif;
    line-height:1px;
}

.about{
    font-family:'Encode Sans SC', sans-serif;
    line-height:38px;
}
.aboutLeft{
    font-weight: 1000;
}